<div class="contact-us-container">
  <div class="contact-us-card">
    <form>
      <div class="mb-3">
        <div class="text-center">
          <label for="exampleInputEmail1" class="form-label"
            >¿Tienes una idea de evento y necesitas un espacio donde
            hacerlo?</label
          >
          <p>Casona encantada puede ser el lugar</p>
          <p>Contáctanos</p>
        </div>
        <div id="emailHelp" class="form-text contact-input-container">
          <label for="email-contact" class="label-input">Email:</label>
          <input
            type="email"
            class="form-control contact-input"
            id="email-contact"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="form-text contact-input-container">
        <label for="subject-input" class="label-input">Asunto</label>
        <input
          type="text"
          class="form-control contact-input"
          id="subject-input"
        />
      </div>
      <div class="mb-3 description">
        <label for="textarea-contact" class="label-textarea">Descripción</label>
        <textarea
          class="contact-textarea"
          name=""
          id="textarea-contact"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-full">Enviar</button>
    </form>
  </div>
</div>
