<div class="about_us-container">
  <div class="us_container">
    <h4 class="us-title text-4xl">Staff</h4>
    <div class="cards-container">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kimberly</h5>
          <p class="card-text">Directora Ejecutiva</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Scatha</h5>
          <p class="card-text">Directora Creativa</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Andreotty</h5>
          <p class="card-text">Director de Operaciones</p>
        </div>
      </div>
    </div>
  </div>
</div>
