<div class="images-container">
  <div class="col-md-4 mb-4 card-event">
    <div class="card" *ngFor="let evento of exposFuturas">
      <img
        [src]="evento.src"
        class="card-img-top image-card"
        [alt]="evento.title"
      />
      <div class="card-body">
        <h5 class="card-title">{{ evento.title }}</h5>
        <p class="card-text">{{ evento.description }}</p>
        <button class="btn btn-purchase" (click)="agregarAlCarrito(evento)">
          Comprar entrada
        </button>
      </div>
    </div>
  </div>
</div>
